<!DOCTYPE html> 
 <html lang="en"> 
 <head> 
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/> 
   <title>Login page</title> 
  
 </head> 
  
 <body> 
<center>
  <form action='/verify' method="post" class ="validate"> 
    <div class="row"> 
      <div class="input-field col s4"> 
          <label for="first_name"><b>Username: </b></label>  
        <input  name="username"> 
      </div> 

      <div class="input-field col s4"> 
        <label for="first_name"><b>Password: </b></label>  
      <input  name="password"> 
    </div> 
    </div> 
     <br>

    <div class="row center"> 
        <button type="submit" class="btn-large waves-effect waves-light orange" style="background-color:orange">Submit</button> 
    </div> 
  </form> 
  <a href = '/signppage'> create an new account?<a></a>
  
  </center>
  
   </body> 
 </html> 
