<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Flask_Chat_App</title>
    <script src = "../static/js/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('#sendmsg').on('click', function(){
            var username 
        })

      
    })
    </script>
  </head>
  <body>
    username : <input type="text" id = "recv">
    Password:   <input type="text" id = "message">
   <button type="button" id ="sendmsg"> Send</button>




  </body>
  </html>